@model List<LetterModel>



@{
    ViewData["Title"] = "Preview Letters";
}

@* Antiforgery token required for AJAX POST request to Letters/Send *@
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}



<!-- Modal asking user to confirm that existing letters will be overidden -->
<div class="modal fade" id="confirmLetterOverride" tabindex="-1" aria-labelledby="confirmLetterOverrideLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Warning!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <p>Sending new letters will override any existing letters recorded against the lesson.</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="SendEmails()">Send</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="MailSendingBg" style="display:none;">
    <img id="MailSendingImg" src="~/images/MailLoading.gif" alt="Sending...">
    <h1 id="MailSendingText" >Sending...</h1>
</div>


<div class=" bg-primary p-4" style="border-top-left-radius: 2em; border-top-right-radius: 2em;">

    <h1 class="text-white">Preview Letters</h1>

    <button type="button" class="btn btn-outline-light" style="vertical-align: baseline;" data-bs-toggle="modal" data-bs-target="#confirmLetterOverride">
        Send
    </button>

</div>

<div class="row d-flex justify-content-center p-3">

    <div class="accordion" id="LetterAccordian">

    @foreach (var letter in Model)
    {
        <div class="card">
            <div class="card-header" id="@("Heading"+letter.letterReference)">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#@letter.Student.StudentFirstName@letter.LetterId" aria-expanded="false" aria-controls="@letter.Student.StudentFirstName @letter.LetterId">
                        @letter.Student.StudentFullName
                    </button>
                </h2>
            </div>

            <div id="@letter.Student.StudentFirstName@letter.LetterId" class="collapse in" aria-labelledby="@("Heading"+letter.letterReference)" data-bs-parent="#LetterAccordian">
                <div class="card-body">
                    @Html.Raw(letter._LetterContent)
                </div>
            </div>
        </div>

    }
    </div>


</div>


@section Scripts {

    <script>
        function SendEmails() {


            $('#confirmLetterOverride').modal('hide');

            //Wait for modal to complete animation before triggering loading animation.
            $('#confirmLetterOverride').on('hidden.bs.modal', function () {
                $("#MailSendingBg").fadeIn();
            });

            //Show loading screen while mail is being sent.


            var form = $('#__AjaxAntiForgeryForm');
            var token = $('input[name="__RequestVerificationToken"]', form).val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("Send")',
                data: {
                    __RequestVerificationToken: token
                },
                success: function (response) {

                    //Close loading screen
                    $("#MailSendingBg").fadeOut(400, function () {
                        console.log(response);
                        alert('Success! ' + response.sent.length + " emails were sent. " + response.failed.length + " emails failed to send.");
                        window.location.href = '@Url.Action("Index")';

                    });
                },
                error: function (response, status, error) {
                    //Close loading screen
                    $("#MailSendingBg").fadeOut(400, function () {
                        console.log(response);
                        alert('Uh oh! Something went wrong. Check the console for more information.');
                        window.location.href = '@Url.Action("Index")';

                    });

                }
            });

        }
    </script>
  }